@font-face {
  font-family: "Zilla Slab";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/zillaslab/v6/dFanZfeM_74wlPZtksIFaj8CVHaZV3B3Taw.woff2")
    format("woff2");
}

body {
  
  background-image: url("/src/Fitnesstracker.png");
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3365c9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* .Routes {
  color: azure;
 
} */

.navbarElements {
  display: flex;
  justify-content: space-around;
  align-items: center;
color:  #3365c9;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* min-height: 100vh;
  background-color: rgb(27, 206, 206);
  color: rgb(218, 137, 33);
  position: sticky;
  top: 0;
  color: azure;
  z-index: 100; */
}

#Login {
  color: rgb(255, 255, 255);
}
.LoginCircleContainer {
  background-color: #3365c9;
  width: 200px;
  height: 200px;
  border-radius: 400px;
  padding: 50px;
}
.SubmitButtonContainer {
  background-color: #3365c9;
  width: 45px;
  height: 5px;
  margin-top: 30px;
  margin-left: 90px;
  border-radius: 25px;
  padding: 20px;
  text-align: left;
}

h1,
h2,
h3,
a,
p {
  animation-name: wave;
  font-family: "Zilla Slab";
  animation-iteration-count: infinite;
  width: 100%;
  border-radius: 50%;
  color: azure;
  animation-direction: alternate;
  animation-duration: 8s;
  animation-timing-function: ease-out;
}

.Cap {
  position: relative;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  color: azure;
  font-size: 50px;
  margin: 0;
  border: 10px solid #ccc;
  border-radius: 200px;
}

@keyframes wave {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}
